@charset "utf-8";
@import './common.scss';
section {
    flex: 1;
    overflow-y: scroll;
}

.follow {
    width: 100%;
    height: auto;
    h5 {
        height: 0.35rem;
        line-height: 0.35rem;
        border-left: 0.05rem solid #FF6600;
        width: 100%;
        padding-left: 0.1rem;
        font-weight: 400;
        border-bottom: thin solid #ccc;
    }
    dl {
        width: 100%;
        height: 1.35rem;
        border-bottom: thin solid #F5F5F5;
        display: flex;
        padding: 0.12rem;
        img {
            width: 0.85rem;
            height: auto;
        }
        dd {
            margin-left: 0.15rem;
        }
    }
}