@charset "utf-8";
@import './common.scss';
section {
    flex: 1;
    overflow-y: scroll;
}

.personal {
    width: 100%;
    height: 1rem;
    display: flex;
    padding: 0 0.15rem;
    img {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        margin-top: 0.2rem;
    }
    dd {
        margin-left: 0.15rem;
        margin-top: 0.32rem;
    }
}

.history {
    width: 100%;
    height: auto;
    li {
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;
        border-top: thin solid #ccc;
        padding: 0 0.15rem;
        display: flex;
        justify-content: space-between;
    }
}