<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/detail.css">
</head>

<body>

    <div class="wrap">
        <header>
            <span><i class="iconfont icon-xiangzuo"></i>详情</span>
            <i class="iconfont home icon-shouye"></i>
        </header>
        <section>
            <div class="detailPage">
                <dl>
                    <dt>
                        <img src="../img/pc.png" alt="">
                    </dt>
                    <dd>
                        <h4>老九门</h4>
                        <h6>南派三叔</h6>
                        <h5>113个评价</h5>
                        <p>价格：5书币/千字</p>
                        <p>字数：70977字 <span>连载中</span></p>
                    </dd>
                </dl>
                <p class="startRead">
                    <a href="" class="col">开始阅读</a>
                    <a href="">下载</a>
                </p>
                <p class="txt">
                    【陈伟霆、张艺兴、赵丽颖主演，同名电视剧正在热播】民国时期，长沙车站开来一辆来历不明的火车，彻查发现来自一座深山中的百年矿山，因为常年开采导致地皮塌陷，矿山中弥漫着一股奇怪的浓雾，长沙老九门盗墓家族张家和红家经过了一番查探，发现了深埋矿山之下，有着另外一个秘密，经过一番探险，他们深入矿山之中，来到矿山的底部，看到了让人无法置信的景象。千年之前坠落的三颗陨石，长白山下埋藏的秘密，他们到底从矿山底部带出了什么东西，为何世界慢慢变的异样诡异？
                </p>

            </div>
            <h5 class="new_txt">
                最新：第三十一章 惨驻
            </h5>
            <div class="label">
                <h5>类别标签</h5>
                <ul>
                    <li>寻墓探险</li>
                    <li>悬疑探险</li>
                    <li>灵异</li>
                </ul>
            </div>

            <div class="books">
                <dl>
                    <dt><img src="../img/pc.png" alt=""></dt>
                    <dd>食咒</dd>
                </dl>
                <dl>
                    <dt><img src="../img/pc.png" alt=""></dt>
                    <dd>食咒食咒食咒食咒食咒</dd>
                </dl>
                <dl>
                    <dt><img src="../img/pc.png" alt=""></dt>
                    <dd>食咒</dd>
                </dl>
            </div>
            <div class="book_info">
                <p>图书信息</p>
                <p>版权：阅文集团旗下起点中文网</p>
            </div>
        </section>
    </div>
</body>

</html>