<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>目录</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/directory.css">
</head>

<body>
    <div class="wrap">
        <header>
            <span><i class="iconfont icon-xiangzuo"></i>目录</span>
            <i class="iconfont home icon-shouye"></i>
        </header>
        <section>
            <ul class="c_txt">
                <li class="col">第二章 齐铁嘴 已读</li>
                <li>第三章 甲東四墓 未读</li>
            </ul>
        </section>
    </div>
</body>

</html>