<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>女生</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/girl.css">
</head>

<body>
    <div class="wrap">
        <header>
            <span><i class="iconfont icon-xiangzuo"></i>女生</span>
            <i class="iconfont home icon-shouye"></i>
        </header>
        <section>
            <div class="follow">
                <h5>最受关注</h5>
                <div class="f_books">
                    <dl>
                        <dt><img src="../img/pc.png" alt=""></dt>
                        <dd>流氓妖记</dd>
                    </dl>
                    <dl>
                        <dt><img src="../img/pc.png" alt=""></dt>
                        <dd>流氓妖记</dd>
                    </dl>
                </div>

            </div>
        </section>
    </div>
</body>

</html>