<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
</head>

<body>

    <div class="wrap">
        <header>
            <a href="">签</a>
            <ul class="book-head">
                <li class="cur">书城</li>
                <li>书架</li>
            </ul>
            <a href=""><i class="iconfont icon-wode"></i></a>
        </header>
        <section>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide wrapper">
                        <div class="b-scroll" data-top="下拉刷新" data-bot="上拉加载">
                            <div class="top">
                                <div class="search">
                                    <i class="iconfont icon-fangdajing"></i>
                                    <input type="text" placeholder="请输入书名、作者、关键字">
                                </div>
                                <div class="classify">
                                    <ul>
                                        <li>
                                            <i class="iconfont icon-paynumber"></i>
                                            <p>限免</p>
                                        </li>
                                        <li>
                                            <i class="iconfont icon-nv"></i>
                                            <p>女生</p>
                                        </li>
                                        <li>
                                            <i class="iconfont icon-nan"></i>
                                            <p>男生</p>
                                        </li>
                                        <li>
                                            <i class="iconfont icon-wodedingdan"></i>
                                            <p>分类</p>
                                        </li>
                                        <li>
                                            <i class="iconfont icon-50"></i>
                                            <p>排行</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="hot">
                                    <h5>本周最火</h5>
                                    <div class="hot-books">
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt><img src="../img/pc.png" alt=""></dt>
                                            <dd>
                                                老九门
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="recommend">
                                    <h6>重磅推荐</h6>
                                    <dl>
                                        <dt><img src="../img/pc.png" alt=""></dt>
                                        <dd>
                                            <h5>史上第一宠婚：慕少的娇妻</h5>
                                            <p class="author">北川云上锦</p>
                                            <p class="text">一场精心设计的豪门盛宴，未婚夫凌晨杰功为花园百煤佃工业化在截断载国蒌黛煤牙</p>
                                            <ul>
                                                <li>现代言情</li>
                                                <li>豪门世家</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <ul class="chapter">
                                        <li>2Boss它上上伙佃粉锣工丰下蒌</li>
                                        <li>2Boss它上上伙佃粉锣工丰下蒌</li>
                                        <li>2Boss它上上伙佃粉锣工丰下蒌</li>
                                        <li>2Boss它上上伙佃粉锣工丰下蒌</li>
                                    </ul>
                                    <p class="change">换一换</p>
                                </div>

                                <div class="books">
                                    <dl>
                                        <dt><img src="../img/pc.png" alt=""></dt>
                                        <dd>
                                            <h5>史上第一宠婚：慕少的娇妻</h5>
                                            <p class="author">北川云上锦</p>
                                            <p class="text">一场精心设计的豪门盛宴，未婚夫凌晨杰功为花园百煤佃工业化在截断载国蒌黛煤牙</p>
                                            <ul>
                                                <li>现代言情</li>
                                                <li>豪门世家</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt><img src="../img/pc.png" alt=""></dt>
                                        <dd>
                                            <h5>史上第一宠婚：慕少的娇妻</h5>
                                            <p class="author">北川云上锦</p>
                                            <p class="text">一场精心设计的豪门盛宴，未婚夫凌晨杰功为花园百煤佃工业化在截断载国蒌黛煤牙</p>
                                            <ul class="point">
                                                <li>现代言情</li>
                                                <li>现代言情</li>
                                                <li>现代言情</li>
                                                <li>现代言情</li>
                                                <li>现代言情</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="soso">
                            <div class="search">
                                <i class="iconfont icon-fangdajing"></i>
                                <input type="text" placeholder="请输入书名、作者、关键字">
                            </div>
                            <a href="">
                                <i class="iconfont icon-gongzuo"></i>
                            </a>
                        </div>
                        <div class="books-all">
                            <dl>
                                <dt><img src="../img/pc.png" alt=""></dt>
                                <dd>
                                    标题 作者
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="../js/swiper.min.js"></script>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/better-scroll.js"></script>
    <script>
        let scroll = new BScroll('.wrapper', {
            scrollY: true,
            click: true,
            pullDownRefresh: {
                threshold: 60,
                stop: 55
            },
            pullUpLoad: {
                threshold: -100
            }
        })

        scroll.on("pullingDown", function() {
            document.getElementsByClassName("b-scroll")[0].setAttribute("data-top", "正在刷新");
            setTimeout(() => {
                document.getElementsByClassName("b-scroll")[0].setAttribute("data-top", "刷新完成");
                setTimeout(() => {
                    scroll.finishPullDown();
                    document.getElementsByClassName("b-scroll")[0].setAttribute("data-top", "下拉刷新");
                }, 300)
            }, 1000)
        })
        scroll.on("pullingUp", function() {
            document.getElementsByClassName("b-scroll")[0].setAttribute("data-bot", "释放加载");
            if (this.y < this.maxScrollY) {
                setTimeout(function() {
                    // ajax();
                    scroll.refresh();
                    scroll.finishPullUp();
                    document.getElementsByClassName("b-scroll")[0].setAttribute("data-bot", "下拉加载");
                }, 1000)

            }
        })



        var mySwiper = new Swiper(".swiper-container", {
            on: {
                slideChangeTransitionStart: function() {
                    $(".book-head li").eq(this.activeIndex).addClass("cur").siblings().removeClass("cur");
                },
            },
            pagination: {
                el: ".swiper-pagination",
                type: "bullets",
            }
        })
    </script>
</body>

</html>