<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="wrap">
        <p><input type="text" name="user" id="user" placeholder="输入用户名"></p>
        <p><input type="password" name="pwd" id="pwd" placeholder="输入密码"></p>
        <p>
            <button type="button" id="log">登录</button>
            <button type="button" id="reg">注册</button>
        </p>
    </div>

    scr
</body>

</html>