<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>阅读页</title>
    <link rel="stylesheet" href="../fonts/iconfont.css">
    <link rel="stylesheet" href="../css/read.css">
</head>

<body>
    <div class="read-container">
        <div class="read-content">
            <h2>第一章 鬼车</h2>
            <p>在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近</p>
            <p>在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近</p>
            <p>在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近</p>
            <p>在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近</p>
            <p>在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近</p>
            <p>在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近，在老人的回忆中，那一天长沙刚刚入冬。已然是十分寒冷。日本人的铁蹄已经打到长沙附近</p>
        </div>
        <div class="read-mark-h">
            <i class="icon iconfont icon-angle-left"></i>返回
        </div>
        <div class="read-mark-f">
            <div class="read-mark-control">
                <div class="read-mark-prev">上一章</div>
                <div class="read-mark-page">1/66</div>
                <div class="read-mark-next">下一章</div>
            </div>
            <ul class="read-list">
                <li class="read-catalog">
                    <i class="icon iconfont icon-gengduo-2"></i>
                    <p>目录</p>
                </li>
                <li class="read-font">
                    <i class="icon">Aa</i>
                    <p>字体</p>
                </li>
                <li class="read-night">
                    <div>
                        <i class="icon iconfont icon-pingfen night"></i>
                        <i class="icon iconfont icon-05 daytime"></i>
                    </div>
                    <p>夜间</p>
                </li>
                <li class="read-download">
                    <i class="icon iconfont icon-xiazai"></i>
                    <p>下载</p>
                </li>
                <div class="read-control-color">
                    <div class="read-control-color-t">
                        字号<span class="read-big">大</span><span class="read-small">小</span>
                    </div>
                    <div class="read-control-color-b">
                        <b>背景</b> <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </ul>
        </div>

    </div>
</body>

</html>